name: build

on:
  pull_request: {}
  workflow_dispatch: {}

env:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.vfs.watch=false -Dkotlin.incremental=false -Dorg.gradle.logging.stacktrace=full"

jobs:
  distribution:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version-file: .github/workflows/.java-version
      - uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew build

      - uses: actions/upload-artifact@v4
        with:
          name: gitout.zip
          path: build/distributions/gitout-*.zip
          if-no-files-found: error

  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: docker build -t gitout .
      - run: docker run --rm gitout --help

  final-status:
    if: ${{ !cancelled() }}
    runs-on: ubuntu-latest
    needs:
      - distribution
      - docker
    steps:
      - name: Check
        run: |
          results=$(tr -d '\n' <<< '${{ toJSON(needs.*.result) }}')
          if ! grep -q -v -E '(failure|cancelled)' <<< "$results"; then
            echo "One or more required jobs failed"
            exit 1
          fi
